@page
@model BookShop.Pages.PurchaseModel
@{
    ViewData["Title"] = "Purchase Page";
}

<h1>Purchase Book: @Model.Book.Title</h1>

<form method="post">
    <input type="submit" value="Buy Now" />
</form>




