@page "{id}"
@model BookShop.Pages.EditBook.IndexModel
@{
    ViewData["Title"] = "Edit Book";
}

<h1>Edit Book</h1>

<form method="post">
    <div>
        <label asp-for="Book.Title">Title</label>
        <input asp-for="Book.Title" />
    </div>
    <div>
        <label asp-for="Book.Author">Author</label>
        <input asp-for="Book.Author" />
    </div>
    <div>
        <label asp-for="Book.Price">Price</label>
        <input asp-for="Book.Price" />
    </div>
    <div>
        <label asp-for="Book.ISBN">ISBN</label>
        <input asp-for="Book.ISBN" />
    </div>
    <div>
        <label asp-for="Book.Synopsis">Synopsis</label>
        <input asp-for="Book.Synopsis" />
    </div>
    <div>
        <input type="submit" value="Update" />
    </div>
</form>

