@model e_commerce_project.Models.Order

<h1>Order Confirmation</h1>

<p>Thank you for your order, @Model.customerName</p>

<p>Your order id is: @Model.Id</p>

<a asp-action="Index" asp-controller="Home">Back to the products list</a>
