<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bookstore</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Books" asp-action="Index">Books</a>
            <a asp-controller="Purchases" asp-action="Index">Purchases</a>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>

