@model List<e_commerce_project.Models.Product>

<h1>List of products</h1>

<ul>
    @foreach (var p in Model)
    {
        <li>
            <a asp-action="Details" asp-route-id="@p.Id">@p.Name</a>
        </li>
    }
</ul>

<a href="/Order/Create">Create Order</a>




